<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1" >
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="prod in showCartProducts">
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{prod.code}}</a></h4>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div></td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="number" min="1" class="form-control" ng-change="quantityChange(prod, $index)" value={{prod.quantity}} ng-model="prod.quantity" >
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{prod.price}}</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{prod.price * prod.quantity}}</strong></td>
                    <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" ng-click="removeFromCart($index)">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3><strong>$ {{getTotal()}}</strong></h3></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                        <a type="button" class="btn btn-default" href="#/">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </a></td>
                    <td>
                        <a type="button" class="btn btn-success" href="#checkout">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>